<component name="ArtifactManager">
  <artifact type="war" name="spring-data-solr-showcase:war">
    <output-path>$PROJECT_DIR$/../spring-data-solr-showcase-master/target</output-path>
    <root id="archive" name="spring-data-solr-showcase-1.0.0.BUILD-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-data-solr-showcase:war exploded" />
    </root>
  </artifact>
</component>